<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site - Forget Password</title>
    <link rel="stylesheet" href="/css/tailwind_output.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <section id="popups" class="absolute w-full h-full z-10 hidden"></section>
    <section id="container" class="flex justify-center items-center w-full h-full transition-opacity duration-200">
        <div class="relative flex flex-row-reverse sm:flex-col justify-center items-center w-5/6 max-w-[800px] sm:w-full h-4/5 sm:h-full rounded-lg sm:rounded-none overflow-hidden bg-background-lightest shadow-xl">
            <!-- Forget Password Email Form -->
            <form id="emailForm" class="transition-opacity duration-200">
                <h2 class="font-bold text-lg h-6">Enter Your Email</h2>
                <input type="email" name="forgetPasswdEmail" id="forgetPasswdEmail" class="border-status-info-muted focus:border-status-info" required>
                <button type="submit" class="bg-status-info hover:bg-status-info-muted">Continue</button>
            </form>
            <!-- New Password Form -->
            <form id="passwordForm" class="transition-opacity duration-200">
                <h2 class="font-bold text-lg h-6">Enter a Password</h2>
                <input type="password" name="newPassword" id="newPassword" class="border-status-info-muted focus:border-status-info" required>
                <button type="submit" class="bg-status-info hover:bg-status-info-muted">Reset Password</button>
            </form>
            <!-- Forget Password Code Form -->
            <form id="codeForm" class="transition-opacity duration-200">
                <h2 class="font-bold text-lg h-6 text-right">[Email Here]</h2>
                <input type="text" name="resetPasswdCode" id="resetPasswdCode" class="text-center font-bold border-status-info-muted focus:border-status-info">
                <button type="submit" class="bg-status-info hover:bg-status-info-muted">Send</button>
                <div class="flex flex-row justify-between h-0">
                    <button id="cancelForgetBtn" class="bg-transparent text-text-primary underline text-sm w-36 h-2 shadow-none hover:bg-transparent hover:shadow-none hover:text-status-info" type="button">Wrong Email?</button>
                    <button id="resendCodeBtn" class="bg-transparent text-text-primary underline text-sm w-36 h-2 shadow-none hover:bg-transparent hover:shadow-none hover:text-status-info" type="button">Resend (timer)</button>
                </div>
            </form>
            <!-- Sliding Bar -->
            <div id="overlay" class="absolute top-0 left-0 sm:translate-y-full w-1/2 sm:w-full h-full sm:h-1/2 flex flex-col justify-center items-center p-8 shadow-lg transition-all duration-700 ease-in-out bg-status-info-muted text-white -z-10">
                <div id="overlayContent" class="text-center">
                    <h2 id="overlayTitle" class="text-3xl font-bold mb-4">Lorem Ipsum</h2>
                    <p id="overlayText" class="mb-6">Lorem Ipsum</p>
                </div>
            </div> 
        </div>
    </section>
    <script src="/js/common.js"></script>
    <script>
        // Save email to use later
        let email = '';
        
        // Get Forms
        const emailForm = document.getElementById('emailForm');
        const passwordForm = document.getElementById('passwordForm');
        const codeForm = document.getElementById('codeForm');

        // Get Overlay
        const overlay = document.getElementById('overlay');
        const overlayTitle = document.getElementById('overlayTitle');
        const overlayText = document.getElementById('overlayText');

        // Overlay Content
        const overlayTitleContent = 'Reset Password';
        const overlayTextEmailContent = 'Enter the email used to create your account';
        const overlayTextPasswordContent = 'Enter a new password to use for your account (please try not to forget it again)';
        const overlayTextCodeContent = 'Enter the six digit code sent to your email';
        
        document.addEventListener('DOMContentLoaded', () => {
            // Inizialize Form Visiblity
            emailForm.classList.remove('opacity-0');
            emailForm.classList.add('opacity-100');

            passwordForm.classList.remove('opacity-100');
            passwordForm.classList.add('opacity-0');
            passwordForm.classList.add('hidden');
            
            codeForm.classList.remove('opacity-100');
            codeForm.classList.add('opacity-0');

            // Inizialize Overlay Content
            overlayTitle.textContent = overlayTitleContent;
            overlayText.textContent = overlayTextEmailContent;
        });

        // Resend Code
        let resendCodeBtn = document.getElementById('resendCodeBtn');
        let startResendCountdown = false;
        let resendCodeCooldown = 60;
        let resendTimer = resendCodeCooldown;
        
        resendCodeBtn.addEventListener('click', () => {
            console.log('Start Countdown: ', startResendCountdown);
            if (resendTimer <= 0) {
                resendCode();
            } else {
                showPopup('warning', `Wait ${resendTimer} seconds before trying again.`);
            }
        });

        setInterval(() => {
            if (startResendCountdown) resendCodeCountdown();
        }, 1000);
        
        function resendCodeCountdown() {
                if (resendTimer > 0) {
                    resendTimer--;
                    resendCodeBtn.textContent = `Resend (${resendTimer})`;
                    console.log(resendTimer);
                } else {
                    startResendCountdown = false;
                }
        }
        
        function resendCode() {
            fetch('/signin/forgotpassword', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'email': email })
            })
            .then(res => res.json())
            .then(data => {resendTimer = resendCodeCooldown})
            .catch(err => console.error(err));
        }

        function moveOverlay() {
            if (overlay.classList.contains('translate-x-full') || overlay.classList.contains('translate-y-0')) {
                // Move the overlay to the left
                if (isSmallScreen.matches) {
                    overlay.classList.remove('translate-y-0');
                    overlay.classList.add('translate-y-full');
                } else {
                    overlay.classList.remove('translate-x-full');
                    overlay.classList.add('translate-x-0');
                }
            } else {
                // Move the overlay to the right
                if (isSmallScreen.matches) {
                    overlay.classList.remove('translate-y-full');
                    overlay.classList.add('translate-y-0');
                } else {
                    overlay.classList.remove('translate-x-0');
                    overlay.classList.add('translate-x-full');
                }
            }
        }
           
        // Send Email to the Backend
        emailForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const forgetPasswdEmail = document.getElementById('forgetPasswdEmail').value;
            email = forgetPasswdEmail;
            
            fetch('/signin/forgotpassword', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'email': forgetPasswdEmail })
            })
            .then(res => res.json())
            .then(data => {
                console.log(data);

                if (data.success) {
                    fade(emailForm);
                    fade(codeForm);

                  //  startResendCountdown = true;
                    
                    overlayText.textContent = overlayTextCodeContent;
                    moveOverlay();
                } else {
                    console.log(data.error);
                    showPopup('error', data.error);
                }
            })
            .catch(err => console.error(err));
        });

        // Verify Code
        codeForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const forgetPasswdCode = document.getElementById('resetPasswdCode').value;
            console.log(forgetPasswdCode);
            
            fetch('/signin/forgotpassword/verify', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'email': email, 'code': forgetPasswdCode })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    fade(codeForm);

                    toggleHidden(emailForm);

                    toggleHidden(passwordForm);
                    fade(passwordForm);

                    overlayText.textContent = overlayTextPasswordContent;
                    moveOverlay();
                } else {
                    console.log(data.error);
                    showPopup('error', data.error);
                }
                
            })
            .catch(err => console.error(err));
        });
    </script>
</body>
</html>