<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site - Login</title>
    <link rel="stylesheet" href="/css/tailwind_output.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body class="flex justify-center items-center">
    <section class="flex justify-center items-center w-full h-full">
        <div class="relative flex flex-row-reverse sm:flex-col justify-center items-center w-5/6 max-w-[800px] sm:w-full h-4/5 sm:h-full rounded-lg sm:rounded-none overflow-hidden bg-background-lightest shadow-xl">
            <form class="transition-opacity duration-500" id="loginForm" action="" method="post">
                <h1 class="text-right text-brand">Login</h1>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="" id="password" placeholder="Password" required>
                <button class="bg-brand" type="submit">Log In</button>
            </form>
            <form class="transition-opacity duration-500" id="signupForm" action="" method="post">
                <h1 class="text-status-info">Sign Up</h1>
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="" id="password" placeholder="Password" required>
                <button class="bg-status-info hover:bg-status-info-dark" type="submit">Sign Up</button>
            </form>

            <div id="overlay" class="absolute top-0 left-0 sm:translate-y-full w-1/2 sm:w-full h-full sm:h-1/2 bg-status-info text-white flex flex-col justify-center items-center p-8 shadow-lg transition-transform duration-700 ease-in-out z-10">
                <div id="overlayContent" class="text-center">
                    <h2 id="overlayTitle" class="text-3xl font-bold mb-4"></h2>
                    <p id="overlayText" class="mb-6"></p>
                    <button id="toggleBtn" class="bg-brand hover:bg-brand-dark px-6 py-2 rounded font-semibold transition"></button>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Media query to detect small screens
        const isSmallScreen = window.matchMedia('(max-width: 639px)');
        
        // JavaScript to handle the toggle between Login and Sign Up
        const toggleBtn = document.getElementById('toggleBtn');
        const overlay = document.getElementById('overlay');
        const overlayTitle = document.getElementById('overlayTitle');
        const overlayText = document.getElementById('overlayText');

        const overlayTitleLoginContent = 'Welcome Back!';
        const overlayTitleSignUpContent = 'Join Us!';
        const overlayTextLoginContent = 'Please enter your credentials to log in.';
        const overlayTextSignUpContent = 'Create a new account to join our community.';
        const overlayButtonLoginContent = 'Sign Up';
        const overlayButtonSignUpContent = 'Log In';

        const loginForm = document.getElementById('loginForm');
        const signupForm = document.getElementById('signupForm');

        // Initialize the overlay content
        document.addEventListener('DOMContentLoaded', () => {
            overlayTitle.textContent = overlayTitleLoginContent;
            overlayText.textContent = overlayTextLoginContent;
            toggleBtn.textContent = 'Sign Up';

            loginForm.classList.remove('opacity-0');
            loginForm.classList.add('opacity-100');
            signupForm.classList.remove('opacity-100');
            signupForm.classList.add('opacity-0');
        });
        
        let showLogin = true;

        toggleBtn.addEventListener('click', () => {
            if (overlay.classList.contains('sm:translate-y-full')) {
                overlay.classList.remove('sm:translate-y-full');
            }

            showLogin = !showLogin;

            if (showLogin) {
                // Update the overlay for login

                /// Move the overlay to the left for Login
                if (isSmallScreen.matches) {
                    overlay.classList.remove('translate-y-0');
                    overlay.classList.add('translate-y-full');
                } else {
                    overlay.classList.remove('translate-x-full');
                    overlay.classList.add('translate-x-0');
                }

                /// Update the overlay content for Login
                overlayTitle.textContent = overlayTitleLoginContent;
                overlayText.textContent = overlayTextLoginContent;
                toggleBtn.textContent = overlayButtonLoginContent;

                /// Update forms visibility
                loginForm.classList.remove('opacity-0');
                loginForm.classList.add('opacity-100');
                signupForm.classList.remove('opacity-100');
                signupForm.classList.add('opacity-0');
            } else {
                // Update the overlay for Login

                /// Move the overlay to the right for Sign Up
                

                if (isSmallScreen.matches) {
                    overlay.classList.remove('translate-y-full');
                    overlay.classList.add('translate-y-0');
                } else {
                    overlay.classList.remove('translate-x-0');
                    overlay.classList.add('translate-x-full');
                }

                /// Update the overlay content for Sign Up
                overlayTitle.textContent = overlayTitleSignUpContent;
                overlayText.textContent = overlayTextSignUpContent;
                toggleBtn.textContent = overlayButtonSignUpContent;

                /// Update forms visibility
                loginForm.classList.remove('opacity-100');
                loginForm.classList.add('opacity-0');
                signupForm.classList.remove('opacity-0');
                signupForm.classList.add('opacity-100');
            }
        });
    </script>
</body>
</html>