@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen h-screen m-0 p-0 bg-neutral-background text-neutral-text;
}

form {
    @apply flex flex-col items-center justify-center gap-4 p-5 w-full h-full;
}
form * {
    @apply w-full h-14;
}

h1 {
    @apply font-bold text-4xl;
}

input {
    @apply p-2 rounded-lg border-2 border-neutral-background-800 outline-none bg-transparent transition-colors duration-200;
}
input:focus {
    @apply border-brand;
}

button {
    @apply px-2 py-1 rounded-lg bg-brand text-neutral-text transition-colors duration-200;
}
button:hover {
    @apply bg-brand-300;
}
button:disabled {
    @apply bg-neutral-background-400 cursor-not-allowed;
}

.nav-links {
    @apply px-3 py-1 rounded-full hover:bg-neutral-background-800 transition-colors duration-200;
}